<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Best City Guide</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
	
	<header class="main-header">
		<div class="container clearfix">
			<!-- <h1 class="name"><a href="#">Best City Guide</a></h1> -->
			<ul class="main-nav">
			</ul>
		</div>
	</header><!--/.main-header-->   

	<div class="banner">
		<img class="logo" src="nit1.jpg" alt="City">
		<h1 class="headline">NIT Raipur</h1>
	</div><!--/.banner-->
	
	<div class="container clearfix">
		<div class="secondary col">
			<h2>Welcome!</h2>
			The institute is committed to the challenging task of development of technical education by preparing seasoned graduates in highly sophisticated field of engineering and technology. Development of India as an emerging industrial power is a demanding exercise as it involves the combination of cost effectiveness and efficiency along with producing world-class technology at the cutting edge. For about five decades we have been doing it with sincerity and commitment at NIT Raipur. At present the institute offers graduate level courses in twelve disciplines.
		</div><!--/.secondary-->
		
		<div class="primary col">
			<figure>

			
			 
				<a class="btn btn-lg btn-success" href="http://localhost:3000/"> Play video </a> 
					
		 
			</figure>
			
		</div><!--/.primary-->
		
		<div class="tertiary col">
			<h2> Current Details: </h2>
			<p> Density: 378 people </p>
			<p> Sex Ratio (M/F): 1.002 </p>
			<p>This place is currently safe to visit</p>
		</div><!--/.tertiary-->	
	</div>
	
	<footer class="main-footer">
		<span>&copy;2020 Residents of The Safest City Ever.</span>
	</footer>
</body>
</html>