<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<style type="text/css">
		#back{
			background: url(https://images.wallpaperscraft.com/image/pattern_background_light_line_texture_50877_3840x2160.jpg); 
			background-position: left;
		}
		.bg-dark1{
			background-color: #0D0D0D;
		}
	</style>
    <title>CCTVsurveillance</title>
  </head>
  <body class="bg-dark">
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark1 fixed-top">
  		<div class="container">
  			<div class="navbar-brand"><i class="fas fa-chess-bishop mr-3"></i>Raipur surveillance</div>

    		<div class="nav-item">
     		 <a class="nav-link disabled text-right" href="#">THIS IS BUILT TO MAKE YOU FEEL SAFER!</a>
    		</div>
  		</div>
	</nav>
	<div class="container text-center bg-dark">
		<div class="jumbotron" id="back">
			<h1 class="display-3">RAIPUR</h1>
			<p>THE PLACES YOU FREQUENTLY VISIT</p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipMPwGqdhIkBV4x2ngVmUI2hYWm0rRAtxDJgwMjH=w426-h240-k-no" alt="Card image cap">
					<div class="card-body">
					    <h5 class="card-title text-left">Gandhi Udyan</h5>
					    <p class="card-text text-left">THIS AREA IS SAFE! YOU CAN SEE FEW PEOPLE EVERYTIME!</p>
					    <a href="admin_gandhi.html" class="btn btn-outline-success btn-sm" >Get Current Details</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart" ></i></a>
	 		  	    </div>
				</div>
			</div>
			<!-- <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<video></video>
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipO5gRZYTVeifROZ--mIU79UpXjPFlVzROqVfZqV=w426-h240-k-no" alt="Card image cap">
					<div class="card-body text-left">
					    <h5 class="card-title text-left">Saraswati Nagar</h5>
					    <p class="card-text">THIS AREA IS SAFE!</p>
					    <a href="#" class="btn btn-outline-success btn-sm">Get Current Details</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div> -->
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipPtpzJ2Dci9uFkpE2SK3MEfwG3aBqdlO7XYeP5P=w408-h306-k-no" alt="Card image cap" height="164" >
					<div class="card-body text-left">
					    <h5 class="card-title text-left">NIT Raipur</h5>
					    <p class="card-text">THIS IS A SAFE PLACE. YOU CAN VISIT AT ANY TIME OF THE DAY!</p>
					    <a href="admin_nit.html" class="btn btn-outline-success btn-sm">Get Current Details</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipPtpzJ2Dci9uFkpE2SK3MEfwG3aBqdlO7XYeP5P=w408-h306-k-no" alt="Card image cap" height="164" >
					<div class="card-body text-left">
					    <h5 class="card-title text-left">Raipur Market</h5>
					    <p class="card-text">THIS IS A SAFE PLACE. YOU CAN VISIT AT ANY TIME OF THE DAY!</p>
					    <a href="admin_nit.html" class="btn btn-outline-success btn-sm">Get Current Details</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="" alt="Card image cap"  height="164">
					<div class="card-body text-left ">
					    <h5 class="card-title text-left ">Khamtarai Vegetable Market</h5>
					    <p class="card-text">TEXT RECEIVED FROM THE API</p>
					    <a href="#" class="btn btn-outline-success btn-sm">Get Current Details</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="" alt="Card image cap">
					<div class="card-body text-left ">
					    <h5 class="card-title text-left ">Mowa</h5>
					    <p class="card-text">IT IS ADVICED NOT TO VISIT THIS PLACE AT THIS POINT OF TIME</p>
					    <a href="#" class="btn btn-outline-success btn-sm">Get Current Details</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipP16HTJKdRmVRW8AQmM_t7TrZjYHdcTAoSQo3H7=w426-h240-k-no" alt="Card image cap">
					<div class="card-body text-left ">
					    <h5 class="card-title text-left ">Kandul</h5>
					    <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-outline-success btn-sm">Get Current Details</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipN8kWl36fSCvLt5V6_3T8Y57aoScM4BKJgLj2xs=w408-h306-k-no" alt="Card image cap">
					<div class="card-body">
					    <h5 class="card-title text-left">Ravanbhatha Dashahra maidan</h5>
					    <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-outline-success btn-sm" href>Get Current Details</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipP16HTJKdRmVRW8AQmM_t7TrZjYHdcTAoSQo3H7=w426-h240-k-no" alt="Card image cap">
					<div class="card-body">
					    <h5 class="card-title text-left">PLACE X</h5>
					    <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-outline-success btn-sm">Get Current Details</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipP16HTJKdRmVRW8AQmM_t7TrZjYHdcTAoSQo3H7=w426-h240-k-no" alt="Card image cap">
					<div class="card-body">
					    <h5 class="card-title text-left">PLACE X</h5>
					    <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-outline-success btn-sm">Go somewhere</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipP16HTJKdRmVRW8AQmM_t7TrZjYHdcTAoSQo3H7=w426-h240-k-no" alt="Card image cap">
					<div class="card-body">
					    <h5 class="card-title text-left">PLACE X</h5>
					    <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-outline-success btn-sm">Go somewhere</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipP16HTJKdRmVRW8AQmM_t7TrZjYHdcTAoSQo3H7=w426-h240-k-no" alt="Card image cap">
					<div class="card-body">
					    <h5 class="card-title text-left">PLACE X</h5>
					    <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-outline-success btn-sm">Go somewhere</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mb-4">	
				<div class="card bg-dark1 text-light" style="width: 18rem;">
					<img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipP16HTJKdRmVRW8AQmM_t7TrZjYHdcTAoSQo3H7=w426-h240-k-no" alt="Card image cap">
					<div class="card-body">
					    <h5 class="card-title text-left">PLACE X</h5>
					    <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-outline-success btn-sm">Go somewhere</a>
					    <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
	 		  	    </div>
				</div>
			</div>
		</div>

	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>